.AccountsContainer {
    background-color: white;
    display: table-cell;
    vertical-align: bottom;
    align-items: center;
    font-size: large;

    text-align: center;
    line-height: 150px;
    margin: 15px;
    margin-left: 0;
  }
  